/* The device with borders */
.smartphone {
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  border: 16px #17a2b8 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .smartphone-content {
  width: auto;
  height: auto;
  background: white;
}

.smartphone-close {
   position: absolute;right: 20px !important;
   top: -25px !important;
   background: #eee !important;
   padding: 0px 4px 0px 4px !important;
   font-size: 1.4rem;
}

/* End SmartPhone css */